@import url(/css/variable.css);
@import url(/css/components/button.css);
@import url(/css/components/table.css);
@import url(/css/components/form.css);
.content{
    box-sizing: border-box;
    width: calc(100vw - 200px);
    height: calc(100vh - 56px);
    background-color: #d1d5da;
    position:absolute;
    top:56px;
    bottom: 0px;
    left: 200px;
    right: 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:16px;
}
.container{
    background-color: #fff;
    height: 480px;
    overflow: scroll;
}